@page
@model TodoList.Pages.TODO.CompletedModel
@{
    ViewData["Title"] = "Completed tasks";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Completed tasks
        </h2>
    </div>
    <div class="panel-body">
        @if (Model.completedTasksExist)
        {
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Description
                        </th>
                        <th>
                            Completion date
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.completedTasksView)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompletionStamp)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <table>
                <tbody>
                    <tr>
                        <td>
                            No completed tasks yet!
                        </td>
                    </tr>
                </tbody>
            </table>

        }
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <a asp-page="Index" class="btn btn-default">Back to Main Page</a>
    </div>
</div>

