@page
@model TodoList.Pages.TODO.IndexModel
@{
    ViewData["Title"] = "TODO List";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add list position</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                                <input asp-for="plannedTaskView.Description" class="form-control" />
                                <span asp-validation-for="plannedTaskView.Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Todo list</h3>
    </div>
    <div class="panel-body">
        <form method="post">
            @if (Model.plannedTasksExist)
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Decription
                            </th>
                            <th>
                                Addition date
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.plannedTasksView)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WriteStamp)
                                </td>
                                <td>
                                    <input type="submit" value="Done" asp-page-handler="Add" asp-route-id="@item.Id" class="btn btn-success btn-sm" />
                                    <input type="submit" value="Delete" asp-page-handler="delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" />
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <table>
                    <tbody>
                        <tr>
                            <td>
                                No planned tasks yet!
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <a asp-page="Deleted" class="btn btn-default">Deleted tasks</a>
                <a asp-page="Completed" class="btn btn-default">Completed tasks</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

